# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
/coverage
/.nyc_output

# Next.js
/.next/
/out/
*.swp
*.swo
.turbo

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath

# OS
Thumbs.db
.trashed-*